@reference "./style.css";

label[for ^= show-ns-kind-] {
  padding: 0 0 2px;
}

#projects-view {
  @apply bg-base-200 min-h-screen;

  .navbar {
  }

  #projects-body {
    @apply p-2;

    #projects-grid {
      @apply w-full grid grid-cols-[repeat(auto-fit,minmax(24rem,1fr))] gap-6 px-6;

      .project-card {
        @apply bg-base-100 shadow w-full border border-base-300 max-w-xl;
      }
    }
  }
}

.inline-input {
  @apply text-[10px] w-full h-full text-center align-middle bg-base-200/0 flex items-center;

  &:focus-visible {
    @apply outline-0;

  }

  //&:focus {
  //  @apply bg-base-200;
  //}
}

.menu-with-extra-dropdown {
  @apply w-full;

  .regular-color-icon {
    @apply rounded-full border border-solid border-neutral/50;
  }

  .none-color-icon {
    @apply rounded-full text-center text-neutral/75;

    &::before {
      font-size: 1.25rem;
    }
  }

  .narrow-card {
    @apply w-64;
  }
}

#top-level {
  @apply bg-base-100 border-base-300 flex flex-col h-screen;
  position: relative;

  .floating-toolbar {
    @apply shadow-md bg-base-100/90 rounded-box flex items-center gap-2 p-1.5 absolute z-10 print:hidden border border-base-300;
  }

  #toolbar {
    @apply border-b border-base-300 px-1 py-[2px] m-0 print:hidden min-h-auto;

    .dropdown {
      @apply m-0 p-0;
      .dropdown-content {
        @apply mt-[2px];
      }
    }

    .tooltip {
      //@apply border p-0 m-0;

      > button {
        @apply mt-[-3px];
      }
    }

    #toggle-library {
      @apply btn-ghost text-sm;
    }
  }

  #zoom-toolbar {
    @apply bottom-2 left-2/4 -translate-x-2/4;
  }

  #commands-panel {
    @apply flex flex-col w-[12rem] max-h-[26rem] z-10;
    @apply print:hidden bg-base-100 rounded-box;
    pointer-events: auto;

    label {
      @apply p-1.5;
      input {
        @apply focus:outline-none;
      }
    }

    #commands-panel-menu-container {
      @apply grow overflow-y-auto border rounded-box border-base-300 shadow-lg;
      scroll-behavior: smooth;
    }
  }

  #left-panel {
    @apply z-10 h-full flex flex-col overflow-hidden print:hidden transition-all duration-200;
    //order: -1;
    width: var(--left-panel-width, 16rem);
    flex-shrink: 0;
    border-right-width: var(--left-panel-border-width, 0px);
  }

  #selection-panel {
    @apply absolute top-10 left-2 z-20 transition-all duration-200;
    &.left-panel-visible {
      @apply top-10 left-[16.5rem];
    }

    > .card {
      @apply bg-base-100 w-46 shadow-lg;
    }
  }

  #canvas-container {
    @apply p-1 grow overflow-hidden flex;
    position: relative;
    background-color: var(--color-base-200);
    background-image: radial-gradient(circle, var(--color-base-300) .5px, transparent .5px);
    background-size: 5px 5px;

    justify-content: center;

    svg.graphviz {
      width: 100%;

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .new-edge-button {
        circle {
          stroke: white;
          fill: #d7effa;
          filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
        }

        path {
          fill: #33ade6;
        }

        &.selected {
          circle {
            stroke: white;
            fill: #33ade6;
            filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
          }

          path {
            fill: white;
          }
        }
      }

      #selection-rectangle {
        stroke-width: 0.5px;
        stroke: #999797;
        fill: #000000;
        fill-opacity: 0.3;
      }

      #dragging-arrow-group {
        stroke: black;
        stroke-width: .75;
        pointer-events: none;

        #dragging-arrow-line {
          stroke-dasharray: 2, 2;
        }
      }

      g#graph0 {
        transform-origin: 50% -50%;

        g {
          .selected-border {
            fill: rgba(255, 165, 0, 0.15);
            stroke: #2c70ff;
          }
        }

        .node {
          ellipse, polygon, path {
            pointer-events: all;
          }
        }
      }
    }
  }

  #right-panel {
    @apply border-base-300 border-x print:hidden;

    &.floating {
      @apply absolute right-11 top-10 bg-base-100;
    }
    &.not-floating {
      @apply  transition-all duration-200;
    }

    flex-shrink: 0;

    &.visible {
      @apply visible flex flex-col /* h-full*/;
      width: 20rem;
    }

    &.not-visible {
      @apply w-0 p-0 gap-0 opacity-0 invisible;
      width: 0;
    }

    #right-panel-header {
      @apply sticky top-0 z-10 bg-base-100 p-2;
    }

    #right-panel-tab-buttons {
      @apply flex gap-1 mt-2;
    }

    #right-panel-content {
      @apply flex flex-col h-full flex-grow;

      #nodes-list, #arrows-list {
        @apply m-2;
      }
    }

    #nodes-source {
      @apply whitespace-nowrap w-full h-full;
    }

    #right-panel-controls, #edges-panel-controls {
      @apply bg-base-100 pb-2 rounded-box sticky top-0;
    }

    #right-panel-contents, #edges-panel-contents {
      @apply overflow-y-auto overflow-x-auto rounded-box bg-base-100 h-full;

      .selected {
        background-color: rgba(251, 191, 36, .1);
      }
    }

    .attributes-title {
      @apply m-2 flex justify-between;
      h2 {
        @apply text-lg font-semibold;
      }
    }

    .attributes-view {

      .fieldset {
        .fieldset-legend {
          @apply bg-base-200 pl-2 w-full border-y border-base-300;
        }

        .fieldset-label {
          @apply mx-2 mt-1;
        }

        .fieldset-input {
          @apply mx-2;
        }
      }
    }

    #elements-view {
      @apply pt-2;

      #elements-view-content {
        @apply overflow-y-auto grow;
      }
    }

  }

  #right-toolbar {
    @apply flex flex-col m-1 gap-3 mt-2;
  }
}

svg.plantuml {
  flex-shrink: 0;

  g[id ^= cluster_] {
    &:hover {
      outline: 3px solid rgb(251 191 36);
      cursor: pointer;
    }

    path, line {
      fill: #e6e6e6;
      stroke-width: 1.0 !important;
    }
  }

  g[id ^= elem_] {
    text {
    }

    &:hover {
      outline: 3px solid rgb(251 191 36);
      cursor: pointer;
    }
  }

  g[id ^= link_] {
    polygon {
      fill: white;
    }

    &:hover {
      path, polygon {
        stroke: rgb(251 191 36) !important;
        stroke-width: 3.0 !important;
        cursor: pointer;
      }
    }
  }
}

