label[for ^= show-ns-kind-] {
  padding: 0 0 2px;
}

#projects-view {
  @apply bg-base-200 min-h-screen;

  .navbar {
  }

  #projects-body {
    @apply p-2;

    #projects-grid {
      @apply w-full grid grid-cols-[repeat(auto-fit,minmax(24rem,1fr))] gap-6 px-6;

      .project-card {
        @apply bg-base-100 shadow w-full border border-base-300 max-w-xl;
      }
    }
  }
}

#top-level {
  @apply bg-base-100 border-base-300 flex h-screen;
  position: relative;

  #toolbar {
    @apply shadow-md bg-base-100 rounded-box flex items-center gap-2 p-1.5 absolute top-1 left-2/4 -translate-x-2/4 z-10 print:hidden border border-base-300;
  }

  #commands-panel {
    @apply flex flex-col w-[15rem] max-h-[26rem] z-10;
    @apply absolute top-2 left-1 print:hidden bg-base-100/90 rounded-box;
    pointer-events: auto;

    label {
      @apply p-2 pl-10;
    }

    #commands-panel-menu-container {
      @apply grow overflow-y-auto mb-2;
      scroll-behavior: smooth;
    }
  }

  #left-panel {
    @apply bg-base-100 p-2 gap-3 z-10 w-64 flex-shrink-0 h-full flex flex-col overflow-hidden print:hidden border-r border-base-300 transition-all duration-200;
    order: -1;

    .header-section {
      @apply mt-[25rem];
    }
  }

  #diagram-attributes {
    thead {
      @apply bg-base-200 rounded;
    }

    .selection-attributes {
      position: static;
      width: 100%;

      thead {
        @apply bg-base-200 rounded;
      }
    }

    #diagram-attributes-content {
      @apply p-2;
    }
  }

  .selection-attributes {
    @apply bg-base-100;

    thead {
      @apply bg-base-200 rounded;
    }
  }

  #nodes-panel {
    @apply bg-base-100 p-2 gap-3 z-10 w-96 flex-shrink-0 h-full flex flex-col overflow-x-hidden print:hidden transition-all duration-200;
    order: 2;

    #nodes-panel-header {
      @apply sticky top-0 z-10 bg-base-100 pb-2;
    }

    #nodes-panel-tab-buttons {
      @apply flex gap-1 mt-2;
    }

    #nodes-panel-content {
      @apply flex flex-col h-full overflow-hidden;
    }

    #nodes-source {
      @apply whitespace-nowrap w-full h-full;
    }

    #nodes-panel-controls, #edges-panel-controls {
      @apply bg-base-100 z-20 pb-2 rounded-box sticky top-0;
    }

    #nodes-panel-contents, #edges-panel-contents {
      @apply overflow-y-auto overflow-x-auto rounded-box bg-base-100 h-full;

      .selected {
        background-color: rgba(251, 191, 36, .1);
      }
    }

    #diagram-attributes {
      @apply h-full overflow-hidden flex flex-col;

      > div {
        @apply h-full flex flex-col overflow-hidden;
      }

      .divider {
        @apply flex-none;
      }

      #diagram-attributes-content {
        @apply overflow-y-auto p-2 flex-grow;
      }

      .selection-attributes {
        @apply overflow-y-auto h-full;
      }
    }
  }

  #canvas-container {
    @apply p-1 z-10 flex-grow overflow-hidden flex;
    background-image: radial-gradient(oklch(var(--bc)/.2) .5px, oklch(var(--b2)/1) .5px);
    background-size: 5px 5px;
    position: relative;

    justify-content: center;

    svg.graphviz {
      width: 100%;

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .new-edge-button {
        circle {
          stroke: white;
          fill: #d7effa;
          filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.5));
        }
        path {
          fill: #33ade6;
        }

        &.selected {
          circle {
            stroke: white;
            fill: #33ade6;
            filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.5));
          }
          path {
            fill: white;
          }
        }
      }

      #selection-rectangle {
        stroke-width: 0.5px;
        stroke: #999797;
        fill: #000000;
        fill-opacity: 0.3;
      }

      #dragging-arrow-group {
        stroke: black;
        stroke-width: .75;
        pointer-events: none;

        #dragging-arrow-line {
          stroke-dasharray: 2, 2;
        }
      }

      g#graph0 {
        transform-origin: 50% -50%;

        g {
          .selected-border {
            fill: rgba(255, 165, 0, 0.15);
            stroke: #2c70ff;
            // stroke-width: .5;
          }
        }

        .node {
          ellipse, polygon, path {
            pointer-events: all;
          }
        }
      }
    }
  }

  .attributes-view {
    table {
      @apply table-xs;
    }
  }
}

svg.plantuml {
  flex-shrink: 0;

  g[id ^= cluster_] {
    &:hover {
      outline: 3px solid rgb(251 191 36);
      cursor: pointer;
    }

    path, line {
      fill: #e6e6e6;
      stroke-width: 1.0 !important;
    }
  }

  g[id ^= elem_] {
    text {
    }

    &:hover {
      outline: 3px solid rgb(251 191 36);
      cursor: pointer;
    }
  }

  g[id ^= link_] {
    polygon {
      fill: white;
    }

    &:hover {
      path, polygon {
        stroke: rgb(251 191 36) !important;
        stroke-width: 3.0 !important;
        cursor: pointer;
      }
    }
  }
}

